@import "custom-variables";
@import "wppb-forms";

// body { background-color: aquamarine; }

/* -------------------------------------------------------------------------- */

/*	PLAY
/* -------------------------------------------------------------------------- */

div.sap-embed-player {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25% !important; /* The height of the item will now be 56.25% of the width. */
}
div.sap-embed-player > iframe {
    position: absolute;
    width: 100%;
    height: 100% !important;
    left: 0;
    top: 0;
}

/* -------------------------------------------------------------------------- */

// Hide Recaptcha
.grecaptcha-badge {
    visibility: hidden;
}
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 div.gform_wrapper form .hide_recaptcha {
    margin: 0 !important;
    padding: 0 !important;

    .ginput_recaptcha {
        margin: 0 !important;
        padding: 0 !important;
    }
}

// FORMS
.et-db #et-boc .et-l .et_pb_module input.text:not(.qty),
.et-db #et-boc .et-l .et_pb_module input.title,
.et-db #et-boc .et-l .et_pb_module input[type="email"],
.et-db #et-boc .et-l .et_pb_module input[type="password"],
.et-db #et-boc .et-l .et_pb_module input[type="tel"],
.et-db #et-boc .et-l .et_pb_module input[type="text"],
.et-db #et-boc .et-l .et_pb_module input[type="number"],
.et-db #et-boc .et-l .et_pb_module input[type="url"],
.et-db #et-boc .et-l .et_pb_module select,
.et-db #et-boc .et-l .et_pb_module textarea {
    width: 100% !important;

    &:focus {
        border-color: $primary !important;
    }
}
.gform_wrapper {
    &.gravity-theme {
        .ginput_complex {
            gap: 1%;
        }
    }
}
.et-db #et-boc .et-l .et_pb_module .gf_name_has_2 {
    input {
        margin-bottom: 0.5em;
    }
}
// .et-db #et-boc .et-l .et_pb_module textarea {
// 	border: 1px solid #bbb;
// }
.gform_wrapper.gravity-theme .ginput_container_address span {
    //flex: auto !important;
    margin-bottom: 20px !important;
}

.et_pb_wpt_gravityform .gform_wrapper .ginput_container_address .ginput_left {
    flex: 0 0 49%;
}
.et_pb_wpt_gravityform .gform_wrapper .ginput_container_address .ginput_right {
    flex: 0 0 50%;
}

.gf_clear {
    display: none;
}
// .et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .gform_wrapper .gfield select,
// .et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .gform_wrapper .gfield select {
// 	border-color: #bbb;
// }
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 form .gform_page_footer,
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 form .gform_footer {
    margin: 0 !important;
    padding: 0 !important;
}
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .gform_wrapper .gform_fields .gfield div.ginput_container_consent,
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .gform_wrapper .gform_fields .gfield div.gchoice {
    // input {
    // 	width: 20px;
    // 	height: 20px;
    // }

    label {
        display: inline;
    }
}
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .et_pb_button {
    width: 100%;
    text-align: center;
}
.gform_wrapper.gravity-theme .ginput_container_date {
    flex-grow: 1;
}
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 div.gform_wrapper form div.ginput_container.ginput_container_date {
    margin-right: 0 !important;
    max-width: none;
}

.gform_wrapper.gravity-theme input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
    line-height: 1 !important;
}
.et-db #et-boc .et-l section.et_pb_wpt_gravityform_0 .gform_wrapper .gform_fields .gfield select {
    line-height: 1;
    padding-top: 14px !important;
}

// DIVI columns
// prevents columns from breaking in mobile view
@media only screen and (max-width: 980px) {
    .et-db #et-boc .et-l {
        .two-columns .et_pb_column {
            width: 50% !important;
        }

        .three-columns .et_pb_column {
            width: 33.33% !important;
        }

        .four-columns .et_pb_column {
            width: 25% !important;
            margin: 0 !important;
        }
        .five-columns .et_pb_column {
            width: 20% !important;
        }
    }
}

// Gravity forms
.gform_ajax_spinner {
    position: fixed;
    background: #ffffffc7 !important;
    padding: 20% 45% !important;
    display: block;
    width: 100vw !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
}

/* Adds an underline to any text that is "emphasised through Divi text module WYSIWYG */
.et_pb_text em {
    background: repeat-x left 1em/1em 0.15em !important;
    background-image: linear-gradient(90deg, #4f63ff, #4f63ff) !important;
    font-style: unset;
}

/* Corrects Divi bug of adding a width of 80% to ROWS whenever you add a Background color or image to the parent SECTION */
.et-db #et-boc .et-l .et_pb_with_background .et_pb_row {
    width: unset;
}

/* Hide gform_required_legend */
.gform_required_legend {
    display: none;
}
